@import "utils/a11y"; 
@import "vendor/reset";

:root {
  font-family: 'Jost', sans-serif;
  font-size: rem(16px);
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(26, 26, 26, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

main {
  padding: 20px;
}

// ----- Header -----

header{
  display: none;
}

// ----- Startskärm -----

#firstPage{
  h1{
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    margin-top: 60px;
  }
  #gameDescription{
    font-family: 'Jost', sans-serif;
    text-align: center;
    padding: 20px;
  }
  #gameCategories {
    text-align: center;
  }
  
  #gameCategories label {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 10px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid rgb(116, 116, 116);
    border-radius: 10px; 
  }
  
  #gameCategories input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  #gameCategories input[type="radio"]:checked + label {
    background-color:#89C6FF;
    border-color: rgb(55, 118, 185);
  }
  
  #gameCategories input[type="radio"]:focus + label {
    border: 2px solid rgb(50, 107, 167);
  }
  
  #gameCategories label:hover {
    background-color: #dfd;
  }
  
  #playerDetails{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  #startGameBtn{
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    background-color: white;
    border: 2px solid #89C6FF;
    
    font-family: 'Jost', sans-serif;
  }
  
  #playerDetails input{
    width: 100%;
  }
}

// ----- Frågor -----

.questionContainer{
  display: none;
}

#questionContainer{
  text-align: center;
  #questionText{
    font-size: 1.3rem;
  }
  #answer1, #answer2, #answer3, #answer4{
    width: 140px;
    height: 140px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 3px 3px 6px #d9d9d9;
    border: solid 1px #d9d9d9;
  }
  #nextQuestion{
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px 20px;
    width: 85%;
    background-color: white;
    border: 2px solid #89C6FF;
    font-weight: bold;
  }
}

// ----- Sista sidan -----

.lastPage{
  display: none;
}
